:root {
  font-family: 'Maplestory OTF';
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Maplestory OTF';
  src: url('/fonts/MaplestoryOTFLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maplestory OTF';
  src: url('/fonts/MaplestoryOTFBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JSArirang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: normal start;
  background: #e7e5e4;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.1;
}

#app {
  width: 100vw;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.infowindow-style {
  padding: 5px;
}
