:root {
  font-family: 'SUITE-Regular';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-mapo {
  font-family: 'MapoGoldenPier';
}

body {
  margin: 0;
  display: flex;
  place-items: normal start;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.1;
}

#app {
  width: 100vw;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.infowindow-style {
  padding: 5px;
}
